In [1]:
#ANS:)1-

#Python program to replace all occurrences of a space, comma, or dot with a colon

import re


sample_text = 'Python Exercises, PHP exercises.'
result = re.sub(r'[ ,.]', ':',  sample_text)


print(result)

Python:Exercises::PHP:exercises:

In [2]:
#ANS:)2-

import pandas as pd

df = pd.DataFrame({'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']})
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))
                        
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [3]:
#ANS:) 3
#for example:-

import re

str1 = "Data science is an interdisciplinary field that uses scientific methods, algorithms, processes, and systems to extract knowledge and insights from structured and unstructured data"

min_length = 4
string_pattern = r'\b\w{%d,}\b' % min_length
regex_pattern = re.compile(string_pattern)

# Use findall to extract all matching words
result = regex_pattern.findall(str1)

print(result)

['Data', 'science', 'interdisciplinary', 'field', 'that', 'uses', 'scientific', 'methods', 'algorithms', 'processes', 'systems', 'extract', 'knowledge', 'insights', 'from', 'structured', 'unstructured', 'data']

In [4]:
#ANS:)4

import re

str1 = "Data science is an interdisciplinary field that uses scientific methods, algorithms, processes, and systems to extract knowledge and insights from structured and unstructured data"

# Define the minimum and maximum word lengths
min_length = 3
max_length = 5

# Construct a regular expression pattern for words with lengths between min_length and max_length
string_pattern = r'\b\w{%d,%d}\b' % (min_length, max_length)
regex_pattern = re.compile(string_pattern)

# Use findall to extract all matching words
result = regex_pattern.findall(str1)

print(result)

['Data', 'field', 'that', 'uses', 'and', 'and', 'from', 'and', 'data']

In [5]:
#ANS:) 5

import re

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

#  regular expression pattern
string_pattern = r'\([^)]*\)'
regex_pattern = re.compile(string_pattern)

# Use list comprehension to remove parentheses
result = [regex_pattern.sub('', text) for text in sample_text]

print(result)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

In [6]:
#ANS:) 6

# Sample text as a list of strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

# remove text enclosed in parentheses
result = []
for text in sample_text:
    modified_text = text.replace('(', '').replace(')', '')
    result.append(modified_text)

# Print the modified text
for text in result:
    print(text)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [7]:
#ANS:) 7 

import re

sample_text = "ImportanceOfRegularExpressionsInPython"
expected_outcome = re.findall(r'[A-Z][a-z]*', sample_text)

print(expected_outcome)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [8]:
#ANS:) 8

import re

def insert_spaces_between_numbers(text):
    string_pattern = r'(?<=[a-zA-Z])(?=\d)'
    text = re.sub(string_pattern, ' ', text)
    return text

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

expected_output = insert_spaces_between_numbers(sample_text)

# Print the result
print(expected_output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
#ANS:) 9

import re

def insert_spaces(text):
    # Match a word starting with an uppercase letter or a number
    pattern = r'(?<=[a-z])(?=[A-Z0-9])'
   
    # Replace the matched pattern with a space
    text_with_spaces = re.sub(pattern, ' ', text)
    return text_with_spaces

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
expected_output = insert_spaces(sample_text)

print(expected_output)

Regular Expression 1Is An 2Important Topic 3In Python

In [10]:
#ANS:)10

import pandas as pd

# Read the data into a DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [11]:
#extract the first 6 letters of each country and store in the dataframe
df['first_five_letters'] = df['Country'].str[:6]
print(df.first_five_letters)

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

In [12]:
#ANS:) 11

target_string ="virat is a criket player who was born on 5 november, 1988"

#match a string that contains only upper and lowercase letters, numbers, and underscores

pattern = r'^[a-zA-Z0-9_]+$'
result =re.match(pattern,target_string)

print(result)

None

In [13]:
#ANS:) 12

target_string ="123456Megha"

#string will start with a specific number.

pattern = r'^[a-zA-Z0-9_]+$'
result =re.match(pattern,target_string)

print(result)

<re.Match object; span=(0, 11), match='123456Megha'>

In [14]:
#ANS:) 13_Example

import re

ip_address = "192.168.001.005"

# Python program to remove leading zeros from an IP address
result = re.sub(r'\b0+(\d+)\b', r'\1', ip_address)

print(result)

192.168.1.5

In [38]:
#ANS:) 14

In [16]:
#ANS:)15
import re

sample_text="The quick brown fox jumps over the lazy dog."

search = re.findall("fox|dog|horse", sample_text)
print(search)

['fox', 'dog']

In [17]:
#ANS:) 16

import re

sample_text="The quick brown fox jumps over the lazy dog."

search = re.search('fox', sample_text)
print(search)

<re.Match object; span=(16, 19), match='fox'>

In [18]:
#ANS:) 17

sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

substrings = sample_text.split(pattern)


for substring in substrings:
    if substring:
        print(substring)

Python
, PHP
, C#

In [45]:
#ANS:) 18

import re

sample_text = "This is an example, and this example is a simple example."
substring = "example"

pattern = re.compile(re.escape(substring))  # Escaping special characters in the substring

for match in pattern.finditer(sample_text):
    start = match.start()
    print(f"Substring '{substring}' found at position {start}")

Substring 'example' found at position 11
Substring 'example' found at position 29
Substring 'example' found at position 49

In [20]:
#ANS:)19

#example

yyyy_mm_dd = "1994-09-06"

# Split the date into year, month, and day
year, month, day = yyyy_mm_dd.split('-')

# Create the new date in dd-mm-yyyy format
dd_mm_yyyy = "{day}-{month}-{year}"

# Print the converted date
print("Original date (yyyy-mm-dd): {yyyy_mm_dd}")
print("Converted date (dd-mm-yyyy): {dd_mm_yyyy}")

Original date (yyyy-mm-dd): {yyyy_mm_dd}
Converted date (dd-mm-yyyy): {dd_mm_yyyy}

In [21]:
#ANS:) 20


import re

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
regex_pattern = re.compile(r'\b\d+\.\d{1,2}\b')

#find decimal number with precision
matches = re.findall(regex_pattern, sample_text)
print(matches)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [22]:
#ANS:) 21

import re

sample_text = "This is a sample text with numbers like 987 and 45.6, and 7890"

pattern = r'\b\d+(\.\d+)?\b'
matches = re.finditer(pattern, sample_text)

for match in matches:
    number = match.group()
    position = match.start()
    print(f"Number: {number}, Position: {position}")

Number: 987, Position: 40
Number: 45.6, Position: 48
Number: 7890, Position: 58

In [23]:
# ANS:) 22

import re

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\b\d+\b'


# Use re.findall to find all numeric values in the text
numeric_values = re.findall(pattern, sample_text)


max_numeric_value = max(numeric_values)
print(f"The maximum numeric value is: {max_numeric_value}")

The maximum numeric value is: 950

In [24]:
#ANS:) 23

import re

sample_text = "RegularExpressionIsAnImportantTopicInPython"

#insert spaces between words starting with capital letters
spaced_text = re.sub(r'([a-z])([A-Z])', r'\1 \2', sample_text)

print(spaced_text)

Regular Expression Is An Important Topic In Python

In [25]:
#ANS:) 24

import re

text = "Data scientists collect and gather data from various sources, including databases, APIs, sensors, web scraping, and more."

pattern = r'[A-Z][a-z]+'

matches = re.findall(pattern, text)

print(matches)

['Data', 'Is']

In [26]:
#ANS:) 25 


import regex as re

sample_text = "Hello hello world world"
regex_pattern = r'\b(\w+)\s+\1\b'

expected_output = re.sub(regex_pattern, r'\1', sample_text)
print(expected_output)

Hello hello world

In [27]:
#ANS:) 26 

sample_text = "Hello123"
if (sample_text):
    print(f"'{sample_text}' ends with an alphanumeric character.")
else:
    print(f"'{sample_text}' does not end with an alphanumeric character.")

'Hello123' ends with an alphanumeric character.

In [28]:
#ANS:) 27

import re

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r'#\w+'  #regular expression pattern to match hashtags

hashtags = re.findall(pattern, sample_text)

print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [29]:
#ANS:) 28

import re

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+[\w]+>'          # regular expression pattern to match <U+...> like symbols

expected_output = re.sub(pattern, '', sample_text)

print(expected_output)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [63]:
#ANS:29
Sample_text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
file_name ="sample_text.txt"


# Define a regular expression pattern to match dates in the format DD-MM-YYYY
date_pattern = r'\d{2}-\d{2}-\d{4}'

# Find all matches of the date pattern in the text
dates = re.findall(date_pattern, text)

In [59]:
#ANS:) 30

import re


sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = r'\b\w{2,4}\b'
cleaned_text = re.sub(pattern, '', text)
    

# Print the cleaned text
print(cleaned_text)

   example,   example  a simple example.